---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Astro Starter" class="p-4">
	<main class="h-screen grid place-items-center">
		<h1 class="text-indigo-500 text-7xl font-finger-paint">Astro Starter</h1>
	</main>
</Layout>


